chat_bot: "openai" # 选择对话模型：openai、deepseek
tts_bot: "azure" # 选择TTS模型：openai、xunfei、azure
system_prompt: "你是一个私人的AI语音助手，请根据用户给的信息，回答用户的问题。回答要简洁明了，不要重复用户的问题，使用txt格式回答，不得出现其它格式，不得出现其它字符。"

openai:
  api_key: "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  model: "gpt-4o-mini"
  temperature: 0.8
  max_tokens: 4096
  tts_model: "tts-1" # 语音模型：tts-1、tts-1-hd、gpt-4o-mini-tts
  tts_voice: "coral" # 支持的语音有 alloy、ash、ballad、coral、echo、fable、onyx、nova、sage、shimmer、verse
  response_format: "opus" # 音频格式。支持的格式有 mp3、opus、aac、flac、wav、pcm
# 讯飞tts bot setting，获取方式：https://www.xfyun.cn/
xunfei:
  APPID: ""
  APISecret: ""
  APIKey: ""

deepseek:
  api_key: ""
  model: "deepseek-chat" # deepseek-chat是v3模型，deepseek-reasoner是R1模型
  temperature: 0.8
  max_tokens: 4096

azure:
  SPEECH_KEY:
  SPEECH_REGION: